.visual01_container{
    display: block;
}

.control-arrow {
    background-repeat: no-repeat!important;
    background-size: 100% auto!important;
    background-position: 50%!important;
}

.control-next{
    background: url(https://image.soribada.com/image/sobanft/images/web/img_w_visual_slide_next.png) !important;
}