.mycollection_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mycollection_title_image{
    width: 85.3vw;
    margin-top: 7vw;
}

.collection_container{
    display: flex;
    justify-content: center;
    margin-top: 7vw;
}
.collection_noshow_container{
    text-align: center;
    padding: 7vw 0;
}
.collection_noshow{
    font-size: 4vw;
    font-weight: bold;
    color: #00183C;
    width: 100%;
}
.back_text{
    text-align: center;
    color: #00183C;
    font-size: 4vw;
    font-weight: bold;
}

.mycollection_bottom_container{
    margin-top: 7vw;
    margin-bottom: 14vw;
}
.mycollection_bottom_title{
    cursor: pointer;
}
