.item_container{
    width: 100%;

}
.nickname_text{
    width: 100%;
}
.title_container{
    width: 100%;
    height: 37vw;
    background-color: #00183C;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nickname_container{
    margin-top: 5vw;
}
.edit_container{
    width: 26.2vw;
    text-align: center;
    cursor: pointer;
}

.nickname_text{
    color: #fff;
    font-size: 6vw;
    font-weight: bold;
}
.content_container{
    width: 100%;
    display: flex;
}
.mycollection_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mycollection_noshow{
    font-size: 24px;
    font-weight: bold;
    color: #00183C;
    width: 100%;
}
.mycollection_title_container{
    width: 42.6vw;
    display: flex;
    align-items: flex-end;
    margin-top: 7vw;
    margin-bottom: 4vw;
}

.mycollection_title{
    width: 100%;
    
}
.mycollection_more{
    cursor: pointer;
    width: 14.6vw;
    margin-top: 8vw;
}

.mycollection_content_container{
    width: 100%;
}
.mycollection_noshow_container{
    text-align: center;
    padding: 50px 0;
}

.mywallet_container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.mywallet_title_container{
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin-top: 90px;
    margin-bottom: 20px;
}

.mywallet_title{
    width: 63.5vw;
    margin-top: 8vw;
    margin-bottom: 8vw;
    
}
.mywallet_more{
    cursor: pointer;
}

.mywallet_content_container{
}