.recovery_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 88.8vw;
}

.recovery_title{
    width: 59.4vw;
    margin-top: 7vw;
}
.email_container{
    width: 100%;
    margin-top: 14vw;
    display: flex;
    justify-content: center;
}
.back_text{
    text-align: center;
    color: #00183C;
    font-size: 4vw;
    font-weight: bold;
}

.recovery_bottom_container{
    width: 100%;
    margin-top: 20vw;
    margin-bottom: 20vw;
}
.recovery_bottom_title{
    cursor: pointer;
}
