.item_contaner{
    margin: 20px 24px;
}

.item_img_box{
    width: 400px;
    height: 400px;
}
.item_img{
    width: 100%;
    height: 100%;
}
.item_volume_box{
    width: 63px;
    height: 35px;
    background: #0066FF 0% 0% no-repeat padding-box;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item_volume{
    font-size: 14px;
    color: #FFF;
    font-weight: bold;
}

.item_title_box{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.item_title{
    font-size: 24px;
    color: #000;
    font-weight: bold;
}

.item_count_box{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.item_count_left{
    font-size: 18px;
    color: #BDBDBD;
    font-weight: bold;
}
.item_count_right{
    font-size: 18px;
    color: #BDBDBD;
    font-weight: bold;
}

.item_price_box{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.item_price_left{
    font-size: 18px;
    color: #0066FF;
    font-weight: bold;
}

.item_price_right{
    font-size: 24px;
    color: #0066FF;
    font-weight: bold;
}